/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
      url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
      url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-dark: #323232;

  --theme-mantle-color: #849D8F;
  --theme-egent-gray-color: #8996A6;
  --theme-pharlap-color: #9D8B84;

  --btn-color: linear-gradient(180deg, #F26843 0%, #e74a35 100%);
  --btn-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-active-color: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-shadow-color: rgba(172, 16, 0, 0.64);
  --btn-shadow-hover-color: #ac1000;
  --btn-shadow-active-color: #942718;
  --btn-text-shadow-color: rgba(160, 32, 11, 0.76);

  --btn-tiny-color: rgba(255, 255, 255, 0.2);

  --cart-active-color: #E84D37;

  --btn-slider-hover-color: rgba(255, 255, 255, 0.4);

  --menu-active-color: #EDEDED;
  --menu-shadow-active-color: #696969;
  --menu-current-color: #D07058;

  --dropdown-hover-color: #FBDED7;
  --dropdown-active-color: #F6B5A5;
  --dropdown-current-color: #D07058;

  --modal-link-hover: #E84D37;
  --modal-shadow-color: rgba(0, 0, 0, 0.4);
  --modal-divider-color: rgba(50, 50, 50, 0.3);
  --modal-border-hover-color: rgba(232, 77, 55, 0.3);

  --select-hover-color: #1E90FF;

  --popular-shadow-hover-color: rgba(0, 0, 0, 0.03);
  --price-text-shadow-color: rgba(49, 50, 53, 0.5);

  --subscribe-text-color: #5A5A5A;

  --input-text-color: #999999;
  --input-border-color: rgba(178, 178, 178, 0.52);
  --input-focus-border-color: rgba(46, 136, 228, 0.52);

  --social-border-color: rgba(255, 255, 255, 0.5);
  --social-border-active-color: rgba(255, 255, 255, 0.7);

  --basic-link-hover: #FFBC9E;
  --border-link-color: rgba(255, 255, 255, 0.2);
  --border-link-hover-color: rgba(255, 188, 158, 0.3);;

  --section-bg-color: #F8F7F4;

  --sidebar-bg-color: #FEFEFE;

  --pattern-bg-color: #E3DDBB;

  --cart-price-color: #C4C4C4;
  --cart-border-color: #CACAC7;

  --overlay-color: rgba(0, 0, 0, 0.3);

  --price-range-scale-color: rgba(248, 247, 244, 0.5);
  --price-range-bar-color: #F8F7F4;
  --price-range-toggle-color: #ABABAB;
  --price-range-toggle-border-color: #FFFFFF;
  --price-range-shadow-color: #ABABAB;
}


/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  height: 100%;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  min-height: 100%;
  min-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Links */

.base-link {
  border-bottom: 1px solid var(--border-link-color);
}

.base-link:hover {
  border-color: var(--border-link-hover-color);
}

/* Buttons */

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  transition: all .1s;
}

/*.btn:focus:not(:focus-visible) {*/
/*  outline: none;*/
/*}*/


/* Input */

.field {
  font: inherit;
  width: 100%;
  padding: 13px;
  font-weight: 700;
  font-size: 16px;
  color: var(--basic-dark);
  background: var(--basic-white);
  border: 1px solid var(--input-border-color);
  outline: none;
}

.field::placeholder {
  font-weight: 400;
}

.field:hover {
  border: 2px solid var(--input-border-color);
  padding: 12px;
}

.field:focus {
  border: 2px solid var(--input-focus-border-color);
  padding: 12px;
}

/* Modal */

.modal {
  position: absolute;
  top: 338px;
  left: 714px;
  background-color: var(--section-bg-color);
  border-radius: 6px;
}

/* Body themes */

.page {
  background: var(--theme-mantle-color);
}

.page--mantle {
  background: var(--theme-mantle-color) url(../img/promo-slider/highlight_s_1.png) center top no-repeat;
}

.page--regent {
  background: var(--theme-egent-gray-color) url(../img/promo-slider/highlight_s_2.png) center top no-repeat;
}

.page--pharlap {
  background: var(--theme-pharlap-color) url(../img/promo-slider/highlight_s_3.png) center top no-repeat;
}

/* Header */

.page-header {
  padding-top: 9px;
  margin-bottom: 10px;
}

.page-header__inner {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
}

/* Logo */

.header-logo {
  margin-right: 11px;
}

.header-logo[href]:hover path {
  fill: var(--basic-link-hover);
}

.header-logo__img {
  display: flex;
}

/* Menu */

.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 1px;
  list-style: none;
}

.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 30px;
  border-radius: 26px;
}

.menu__item:not(:last-child) {
  margin-right: 7px;
}

.menu__link {
  padding: 6px 13px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 26px;
  cursor: pointer;
  transition: all .1s;
}

.menu__link:hover,
.menu__link:focus,
.menu__item:hover .menu__link,
.menu__item:focus-within .menu__link {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.menu__link:active {
  background-color: var(--menu-active-color);
  box-shadow: inset 0 2px 1px var(--menu-shadow-active-color);
}

.menu__link--active {
  padding: 7px 14px 7px 15px;
  background-color: var(--menu-current-color);
  color: var(--basic-white);
}

.menu__link--active .base-link,
.menu__link:hover .base-link {
  border-bottom: none;
}

/* Dropdown */

.dropdown {
  display: none;
  position: absolute;
  top: 37px;
  left: -8px;
  min-width: 143px;
  background: var(--basic-white);
  box-shadow: 0 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  transition: all .1s;
  z-index: 1;
  margin: 0;
  padding: 2px 0 7px;
  color: var(--basic-dark);
  list-style: none;
}

.dropdown::before  {
  position: absolute;
  content: '';
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  width: 128px;
  height: 1px;
  background-color: var(--basic-dark);
  opacity: 0.2;
}

.dropdown__link {
  display: flex;
  align-items: center;
  padding: 7px 19px 7px 22px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.dropdown__link:hover,
.dropdown__link:focus {
  background-color: var(--dropdown-hover-color);
}

.dropdown__link:active {
  background-color: var(--dropdown-active-color);
}

.dropdown__link--current {
  color: var(--basic-white);
  background-color: var(--dropdown-current-color);
}

.dropdown__link--current:hover,
.dropdown__link--current:active,
.dropdown__link--current:focus {
  color: var(--basic-white);
  background-color: var(--dropdown-current-color);
  cursor: default;
}

.dropdown__link--head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.menu__item:hover .dropdown,
.menu__item:focus-within .dropdown {
  display: block;
}

/* User navigation */

.usermenu {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  max-width: 350px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.usermenu__item {
  align-items: center;
  position: relative;
  border-radius: 20px;
}

.usermenu__link {
  display: flex;
  align-items: center;
  padding: 4px 16px 5px 16px;
  margin-bottom: 4px;
  min-height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
  background-color: var(--btn-tiny-color);
  border-radius: 20px;
  transition: all .1s;
}

.usermenu__link--search {
  padding: 8px;
}

.usermenu__link--search::before {
  content: '';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: url('../img/icons/search.svg') center center/cover no-repeat;
}

.usermenu__link--search:hover::before,
.usermenu__link--search:active::before,
.usermenu__link--search:focus::before,
.usermenu__item:hover .usermenu__link--search::before,
.usermenu__item:focus-within .usermenu__link--search::before{
  background: url('../img/icons/search-active.svg') center center/cover no-repeat;
}

.usermenu__item:not(:last-child) {
  margin-right: 10px;
}

.usermenu__link--login::before {
  content: '';
  margin-right: 8px;
  width: 20px;
  height: 19px;
  background: url('../img/icons/login.svg') center center/cover no-repeat;
}

.usermenu__link--login:hover::before,
.usermenu__link--login:active::before,
.usermenu__link--login:focus::before,
.usermenu__item:hover .usermenu__link--login::before,
.usermenu__item:focus-within .usermenu__link--login::before{
  background: url('../img/icons/login-active.svg') center center/cover no-repeat;
}

.usermenu__link--cart::before {
  content: '';
  margin-right: 8px;
  width: 21px;
  height: 20px;
  background: url('../img/icons/cart.svg') center center/cover no-repeat;
}

.usermenu__link--active::before,
.usermenu__link--cart:hover::before,
.usermenu__link--cart:active::before,
.usermenu__link--cart:focus::before,
.usermenu__item:hover .usermenu__link--cart::before,
.usermenu__item:focus-within .usermenu__link--cart::before {
  background: url('../img/icons/cart-active.svg') center center/cover no-repeat;
}


.usermenu__link:hover,
.usermenu__link:active,
.usermenu__link:focus,
.usermenu__item:hover .usermenu__link,
.usermenu__item:focus-within .usermenu__link,
.usermenu__link--active {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

/* Popup */

.popup-search {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 20px 15px;
  width: 342px;
  background-color: var(--section-bg-color);
  box-shadow: 0 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  z-index: 3;
  transition: all .1s;
}

.popup-search__field {
  padding: 13px;
  height: 44px;
  font-size: 14px;
  border-radius: 4px;
}

.usermenu__item:hover .popup-search,
.usermenu__item:focus-within .popup-search {
  display: block;
}

.popup-login {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 22px 18px;
  width: 277px;
  background-color: var(--section-bg-color);
  box-shadow: 0 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  z-index: 2;
  transition: all .1s;
}

.popup-login__form {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 20px;
}

.popup-login__field {
  grid-column: 1 / 3;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
}

.popup-login__btn {
  grid-column: 1 / 2;
  padding: 0 26px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 26px;
}

.popup-login__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.popup-login__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}

.popup-login__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 2 / 3;
}

.popup-login__link {
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-dark);
}

.popup-login__link .base-link {
  border-color: var(--modal-divider-color);
}

.popup-login__link:hover,
.popup-login__link:hover .base-link,
.popup-login__link:active,
.popup-login__link:active .base-link,
.popup-login__link:focus {
  color: var(--modal-link-hover);
  border-color: var(--modal-border-hover-color);
}

.usermenu__item:hover .popup-login,
.usermenu__item:focus-within .popup-login {
  display: block;
}

.popup-cart {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  padding: 21px 14px 21px 20px;
  width: 539px;
  background-color: var(--section-bg-color);
  box-shadow: 0 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  z-index: 2;
  transition: all .1s;
}

.popup-cart__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popup-cart__item {
  display: grid;
  grid-template-columns: min-content max-content 246px repeat(2, max-content);
  margin-bottom: 20px;
}

.popup-cart__item:last-child {
  margin-bottom: 15px;
}

.popup-cart__cross {
  width: 11px;
  height: 11px;
  grid-column: 1 / 2;
  padding: 7px 0 0;
  margin: 0 10px 0 0;
  background: none;
  border: none;
}

.popup-cart__cross svg {
  cursor: pointer;
}

.popup-cart__cross:hover path,
.popup-cart__cross:focus path {
  fill: var(--modal-link-hover);
}

.popup-cart__preview {
  grid-column: 2 / 3;
  margin-right: 14px;
  width: 100%;
  max-width: 33px;
  border-radius: 100%;
}

.popup-cart__link {
  grid-column: 3 / 4;
  padding-top: 9px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark);
}

.popup-cart__link:hover,
.popup-cart__link:active,
.popup-cart__link:focus-within {
  color: var(--modal-link-hover);
}

.popup-cart__weight {
  grid-column: 4 / 5;
  margin: 0 26px 0 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-dark);
}

.popup-cart__weight--price {
  color: var(--cart-price-color);
}

.popup-cart__price {
  grid-column: 5 / 6;
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-dark);
}

.popup-cart__checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 16px;
  border-top: 1px solid var(--cart-border-color);
}

.popup-cart__total {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 15px;
  color: var(--basic-dark);
}

.popup-cart__btn {
  padding: 0 15px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  color: var(--basic-white);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 26px;
}

.popup-cart__btn:hover,
.popup-cart__btn:focus {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.popup-cart__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}

.usermenu__item:hover .popup-cart,
.usermenu__item:focus-within .popup-cart {
  display: block;
}

/* Information */

.page-header__info {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-bottom: -115px;
  justify-self: end;
  z-index: 1;
}

.page-header__days {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 7px;
  font-weight: 700;
  font-size: 14px;
}

.page-header__phone {
  font-weight: 700;
  font-size: 22px;
}

.page-header__phone {
  border: none;
}

.page-header__phone:hover,
.page-header__phone:active,
.page-header__phone:focus {
  color: var(--basic-link-hover);
}

/* Promo */

.promo {
  position: relative;
}

.promo__sliders {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 564px;
}

.promo__slider {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-bottom: 41px;
}

.promo__slider--current {
  display: flex;
}

.promo__img {
  position: absolute;
  top: 0;
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
}

.promo__title {
  margin: 0 0 28px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.promo__btn {
  padding: 9px 30px;
  min-height: 62px;
  max-width: 500px;
  border-radius: 70px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color:var(--basic-white);
  text-shadow: 0 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
}

.promo__btn:hover,
.promo__btn:focus {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.promo__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}

.promo__controls {
  position: absolute;
  top: 480px;
  left: 0;
}

.btn--slider {
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background: none;
  transition: all .1s;
}

.btn--slider:not(:last-child) {
  margin-right: 5px;
}

.btn--slider:hover,
.btn--slider:focus {
  background: var(--btn-slider-hover-color);
}

.btn--slider:active,
.btn--slider-current,
.btn--slider-current:hover {
  background: var(--basic-white);
  cursor: default;
}

/* Special offers */

.special {
  margin-bottom: 40px;
}

.special__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.special__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 22px 22px 17px;
  border-radius: 16px;
}

.special__item--crimson {
  grid-column: 1 / 2;
  background: var(--section-bg-color) url(../img/bg/crimson.jpg) center center/cover no-repeat;
}

.special__item--chocolate {
  grid-column: 2 / 3;
  background: var(--section-bg-color) url(../img/bg/сhocolate.jpg) center center/cover no-repeat;
}

.special__title {
  grid-column: 1 / 3;
  margin: 0 0 18px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.special__text {
  grid-column: 1 / 3;
  margin: 0 0 45px;
  font-weight: 700;
  font-size: 18px;
}

.special__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  justify-self: end;
  padding: 14px 22px;
  min-height: 48px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  text-shadow: 0 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 70px;
}

.special__btn:hover,
.special__btn:focus {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.special__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}


/* Products */

.products {
  margin-bottom: 40px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 36px;
  margin: 0 -13px;
  padding: 0;
  list-style: none;
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__item:before {
  display: none;
  content: "";
  position: absolute;
  width: 293px;
  height: calc(100% + 76px);
  border-radius: 4px;
  top: -6px;
  background: var(--btn-tiny-color);
  box-shadow: 0 20px 20px var(--popular-shadow-hover-color);
  z-index: 1;
  transition: all .1s;
}

.products__item:hover:before,
.products__item:focus-within:before,
.products__item:hover .products__btn,
.products__item:focus-within .products__btn {
  display: block;
}

.products__item:hover .products__content,
.products__item:hover .products__title {
  z-index: 2;
}

.products__content {
  position: relative;
}

.products__img {
  width: 100%;
  max-width: 267px;
  object-fit: cover;
  border-radius: 50%;
}

.products__label {
  position: absolute;
  width: 61px;
  height: 61px;
  padding: 17px 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.products__price {
  text-align: left;
  margin: -67px 0 0;
  font-weight: 700;
  font-size: 45px;
  color:var(--basic-white);
  text-shadow: 0 1px 3px var(--price-text-shadow-color);
}

.products__price .unit {
  font-size: 30px;
}

.products__price .currency {
  font-size: 44px;
  margin-left: 5px;
}

.products__title {
  margin: 25px 0 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
  cursor: pointer;

}

.products__link:hover,
.products__link:active,
.products__link:focus {
  color: var(--basic-link-hover);
}

.products__btn {
  display: none;
  position: absolute;
  bottom: -55px;
  padding: 12px 16px;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 50px;
  z-index: 1;
}

.products__btn:hover,
.products__btn:focus {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.products__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}



/* features */

.features {
  margin-bottom: 40px;
}

.features__wrapper {
  padding: 24px 20px 30px 21px;
  background: var(--pattern-bg-color) url('../img/bg/wafer-pattern.jpg') center center/cover repeat;
  border-radius: 16px;
}

.features__lead {
  margin: 0 0 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
}

.features__list {
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 13px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  display: flex;
}

.features__img {
  margin-right: 6px;
  flex-shrink: 0;
}

.features__descr {
  margin: 9px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

/* Blog */

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 26px;
  margin-bottom: 40px;
}

.blog-notice {
  padding: 20px 20px;
  background: var(--basic-white) url('../img/bg/strawberry.jpg') center center/cover no-repeat;
  border-radius: 16px;
}

.blog-notice__title {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-dark);
}

.blog-notice p {
  margin: 0;
}

.blog-notice__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  text-decoration: underline;
}

.blog-notice__link:hover,
.blog-notice__link:active,
.blog-notice__link:focus {
  color: var(--modal-link-hover);
  border-bottom: none;
}

/* Subcribe form */

.subscribe {
  padding: 5px 6px;
  background: var(--section-bg-color) url('../img/bg/subscribe.jpg') center center/cover no-repeat;
  border-radius: 16px;
}

.subscribe__inner {
  padding: 24px 20px 36px 21px;
  background: var(--section-bg-color);
  border-radius: 16px;
}

.subscribe__text {
  margin: 0 0 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--subscribe-text-color);
}

.subscribe__field {
  height: 44px;
}

.subscribe__btn {
  padding: 10px 19px;
  max-width: 260px;
  min-height: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color:var(--basic-white);
  text-shadow: 0 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 70px;
}

.subscribe__btn:hover,
.subscribe__btn:focus {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.subscribe__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe__field {
  width: 100%;
  margin-right: 10px;
}

/* Contacts */

.contacts {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  z-index: 2;
}

.contacts__sidebar {
  position: absolute;
  padding: 30px 25px 32px 25px;
  width: 303px;
  top: 62px;
  right: 0;
  background: var(--sidebar-bg-color);
  border-radius: 16px;
}

.contacts__address {
  margin: 0 0 -2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts__street {
  margin: 0 0 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contacts__phone {
  margin: 0 0 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contacts__link:hover,
.contacts__link:active,
.contacts__link:focus {
  color: var(--modal-link-hover);
}

.contacts__btn {
  display: block;
  padding: 12px 28px;
  min-height: 43px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  text-shadow: 0 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 70px;
}

.contacts__btn:hover,
.contacts__btn:focus {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.contacts__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}

/*Map*/

.map-container {
  position: relative;
  min-height: 430px;
  z-index: 1;
}

.ymap {
  position: absolute;
  width: 100%;
  height: 430px;
}

/* Modal feedback */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 3;
}

.overlay--show {
  display: block;
}

.modal-feedback {
  display: none;
  position: fixed;
  max-width: 477px;
}

@keyframes modalBounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-feedback--show {
  display: block;
  animation-name: modalBounce;
  animation-duration: 0.6s;
}

@keyframes modalShake{
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-feedback--error {
  animation-name: modalShake;
  animation-duration: 0.6s;
}

.modal-feedback__wrapper {
  position: relative;
  padding: 15px 26px 27px 24px;
}

.modal-feedback__title {
  margin: 0 0 21px;
  font-weight: 500;
  font-size: 24px;
  color: var(--basic-dark);
}

.modal-feedback__form {
  display: flex;
  flex-direction: column;
}

.modal-feedback__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal-feedback__close:hover path,
.modal-feedback__close:active path {
  fill: var(--modal-link-hover);
}

.modal-feedback__field {
  width: 267px;
  margin-bottom: 17px;
  border-radius: 4px
}

.modal-feedback__field--message {
  resize: none;
  width: 428px;
  margin-bottom: 27px;
}

.modal-feedback__btn {
  align-self: flex-end;
  margin: 0;
  padding: 0 24px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  box-shadow: 0 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 26px;
}

.modal-feedback__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0 2px 2px var(--btn-shadow-hover-color);
}

.modal-feedback__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0 2px 2px var(--btn-shadow-active-color);
}

/* Footer */

.page-footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 25px;
}

.page-footer__container--catalog::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1146px;
  height: 1px;
  background: var(--btn-tiny-color);
}

.page-footer__container--catalog {
  padding-top: 19px;
}

/* Social */

.social {
  padding-top: 16px;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.social__item {
  margin-bottom: 8px;
}

.social__link {
  display: flex;
  border: 2px solid var(--social-border-color);
  border-radius: 50%;
}

.social__link:hover path,
.social__link:focus path{
  fill-opacity: 1;
}

.social__link:active {
  border-color: var(--social-border-active-color);
}

/* Helpful links */

.helpful {
  padding-top: 14px;
  padding-left: 26px;
}

.helpful__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 32px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.helpful__item {
  position: relative;
  max-width: 170px;

}

.helpful__item--heart::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 4px;
  width: 15px;
  height: 13px;
  background: url(../img/icons/heart.svg);
}

.helpful__link {
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-white);
}

.helpful__link:hover,
.helpful__link:active,
.helpful__link:focus {
  color: var(--basic-link-hover);
}

/* Copyright */

.copyright__logo {
  display: flex;
  margin-bottom: 9px;
  border: none;
}

.copyright__logo:hover path,
.copyright__logo:focus path{
  fill: var(--basic-link-hover);
}

.copyright__text {
  max-width: 200px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: var(--basic-white);
}

.copyright__link:hover,
.copyright__link:active,
.copyright__link:focus {
  color: var(--basic-link-hover);
}

/* Catalog page */

.main-title {
  margin: 0 0 29px;
  font-weight: 700;
  font-size: 35px;
}

/* Breadcrumbs */

.breadcrumbs {
  max-width: 500px;
  padding-top: 16px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-left: 7px;
  margin: 0 8px;
  width: 6px;
  height: 6px;
  background: url(../img/icons/breadcrumbs-arrow.svg) 0 0 no-repeat;
}

.breadcrumbs__link:hover {
  color: var(--basic-link-hover);
  cursor: pointer;
}

.breadcrumbs__item:last-child .breadcrumbs__link,
.breadcrumbs__item:last-child:hover .breadcrumbs__link {
  color: currentColor;
  border: none;
  cursor: default;
}

/* Catalog filter */

.filter {
  margin-bottom: 26px;
}

.filter-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.filter-group {
  padding: 0;
  margin: 0 15px 14px 0;
  border: none;
}

.filter-label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 17px;
}

.filter-list {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  background-color: var(--btn-tiny-color);
  border-radius: 20px;
}

.filter-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-right: 23px;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-item label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.custom-select {
  width: 196px;
  padding: 8px 15px 9px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 20px;
  color: var(--basic-white);
  background: var(--btn-tiny-color) url("../img/icons/select-arrow.svg") 170px 50% no-repeat;
  border: none;
  cursor: pointer;
  transition: 0.1s all;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select::-ms-expand {
  display: none;
}


.custom-select:hover {
  color: var(--basic-dark);
  background: var(--btn-tiny-color) url("../img/icons/select-arrow-black.svg") 170px 50% no-repeat;
}

.custom-select:active,
.custom-select:focus {
  color: var(--basic-dark);
  background: var(--basic-white) url("../img/icons/select-arrow-black.svg") 170px 50% no-repeat;
}

.price__range {
  display: flex;
  background-color: var(--btn-tiny-color);
  border-radius: 20px;
}

.price__controls {
  position: relative;
  height: 36px;
  padding: 18px 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price__controls .scale {
  width: 176px;
  height: 2px;
  background-color: var(--price-range-scale-color);
}

.price__controls .bar {
  width: 50%;
  height: 2px;
  background-color: var(--price-range-bar-color);
}

.price__controls .toggle {
  position: absolute;
  left: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: var(--price-range-toggle-color);
  border: 10px solid var(--price-range-toggle-border-color);
  box-shadow: 0 2px 0 0 var(--price-range-shadow-color);
  border-radius: 50%;
  transition: all .1s;
  cursor: pointer;
}

.price__controls .toggle:hover {
  transform: scale(1.1);
}

.price__controls .toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: var(--price-range-toggle-color);
  border-radius: 50%;
}

.price__controls .toggle-min {
  left: 33px;
}

.price__controls .toggle-max {
  left: 131px;
}

.custom-radio {
  margin-right: 11px;
}

/*Price*/

.price__label {
  padding-left: 16px;
}

/*Fat*/

.fat__list {
  padding: 10px 18px 8px 14px;
}

.fat__item {
  margin-right: 23px;
}

.fat__item label {
  padding-left: 34px;
}

.fat__item--0 {
  margin-right: 19px;
}

.fat__item--to10 {
  margin-right: 19px;
}

.fat__item--to30 {
  margin-right: 17px;
}

/*Fillers*/

.fillers {
  margin-right: 16px;
}

.fillers__label {
  margin-bottom: 9px;
}

.fillers__list {
  padding: 9px 19px 9px 16px;
}

.fillers__item {
  margin-right: 20px;
}

.fillers__item label {
  padding-left: 30px;
}

.fillers__item--chocolate {
  margin-right: 23px;
}

.fillers__item--sugar {
  margin-right: 23px;
}

.fillers__item--fruits {
  margin-right: 23px;
}

.fillers__item--fruits label {
  padding-left: 36px;
}

.fillers__item--syrups label {
  padding-left: 34px;
}

.fillers__item--jams label {
  padding-left: 34px;
}


.custom-radio + label::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 22px;
  height: 22px;
  border: 3px solid var(--basic-white);
  border-radius: 50%;
  transition: all .1s;
  opacity: 0.8;
}

.custom-radio:checked + label::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border-radius: 50%;
  transition: all .1s;
  opacity: 0.8;
}

.custom-radio:hover + label::before,
.custom-radio:checked:hover + label::after {
  opacity: 1;
}

.custom-radio:disabled + label::before,
.custom-radio:checked:disabled + label::after,
.custom-radio:disabled + label,
.custom-radio:checked:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.custom-checkbox + label::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 20px;
  background: url(../img/icons/checkbox-off.svg) 0 0 no-repeat;
  transition: all .1s;
  opacity: 0.8;
}

.custom-checkbox:checked + label::before {
  display: none;
}

.custom-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 20px;
  background: url(../img/icons/checkbox-on.svg) 0 0 no-repeat;
  transition: all .1s;
  opacity: 0.8;
}

.custom-checkbox:hover + label::before,
.custom-checkbox:focus + label::before,
.custom-checkbox:checked:hover + label::after,
.custom-checkbox:checked:focus + label::after {
  opacity: 1;
}

.custom-checkbox:disabled + label::before,
.custom-checkbox:checked:disabled + label::after,
.custom-checkbox:disabled + label,
.custom-checkbox:checked:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filter__btn {
  padding: 7px 27px 7px 28px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background: var(--btn-tiny-color);
  box-shadow: 0 0 0 2px var(--basic-white);
  border-radius: 20px;
}

.filter__btn:hover,
.filter__btn:focus {
  color: var(--basic-dark);
  background: var(--basic-white);
}

.filter__btn:active {
  box-shadow: inset 0 2px 1px var(--menu-shadow-active-color);
}

/* Products catalog  */



/* Catalog pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 28px;
}

.pagination__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination__item {
  margin: 0 4px 5px 0;
}

.pagination__item:last-child {
  margin-right: 22px;
}

.pagination__link {
  padding: 3px 8px 4px 8px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.pagination__link:hover {
  background: var(--btn-tiny-color);
}

.pagination__link:active,
.pagination__link--current,
.pagination__link--current:hover {
  color: var(--basic-dark);
  background: var(--basic-white);
}

.pagination__link--current {
  cursor: default;
}

.pagination__btn {
  display: flex;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.pagination__btn:disabled {
  opacity: 0.2;
  cursor: default;
}

.pagination__btn--prev {
  margin-right: 16px;
}

















