/* Fonts */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
      url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'),
      url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'),
      url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-dark: #323232;

  --theme-mantle-color: #849D8F;
  --theme-egent-gray-color: #8996A6;
  --theme-pharlap-color: #9D8B84;

  --btn-color: linear-gradient(180deg, #F26843 0%, #e74a35 100%);
  --btn-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-active-color: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --btn-shadow-color: rgba(172, 16, 0, 0.64);
  --btn-shadow-hover-color: #AC1000;
  --btn-shadow-active-color: #942718;
  --btn-text-shadow-color: rgba(160, 32, 11, 0.76);

  --btn-tiny-color: rgba(255, 255, 255, 0.2);

  --cart-active-color: #E84D37;

  --btn-slider-hover-color: rgba(255, 255, 255, 0.4);

  --menu-active-color: #EDEDED;
  --menu-shadow-active-color: #696969;
  --menu-current-color: #D07058;

  --dropdown-hover-color: #FBDED7;
  --dropdown-active-color: #F6B5A5;
  --dropdown-current-color: #D07058;

  --modal-link-hover: #E84D37;
  --modal-shadow-color: rgba(0, 0, 0, 0.4);
  --modal-divider-color: rgba(50, 50, 50, 0.3);
  --modal-border-hover-color: rgba(232, 77, 55, 0.3);

  --select-hover-color: #1E90FF;

  --popular-shadow-hover-color: rgba(0, 0, 0, 0.03);
  --price-text-shadow-color: rgba(49, 50, 53, 0.5);

  --subscribe-text-color: #5A5A5A;

  --input-text-color: #999999;
  --input-border-color: rgba(178, 178, 178, 0.52);
  --input-focus-border-color: rgba(46, 136, 228, 0.52);

  --social-border-color: rgba(255, 255, 255, 0.5);
  --social-border-active-color: rgba(255, 255, 255, 0.7);

  --basic-link-hover: #FFBC9E;
  --border-link-color: rgba(255, 255, 255, 0.2);
  --border-link-hover-color: rgba(255, 188, 158, 0.3);;

  --section-bg-color: #F8F7F4;

  --sidebar-bg-color: #FEFEFE;

  --pattern-bg-color: #E3DDBB;

  --cart-price-color: #C4C4C4;
  --cart-border-color: #CACAC7;

  --overlay-color: rgba(0, 0, 0, 0.3);
}


/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.html {
  height: 100%;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none; /*  вынести в класс */
  color: currentColor;
}

.container {
  max-width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Links */

.base-link {
  border-bottom: 1px solid var(--border-link-color);
}

.base-link:hover {
  border-color: var(--border-link-hover-color);
}

/* Buttons */

.btn {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .1s;
}

/* User navigation buttons */

.btn--slider {
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background: none;
  outline: none;
  transition: all .1s;
}

.btn--slider:not(:last-child) {
  margin-right: 5px;
}

.btn--slider:hover {
  background: var(--btn-slider-hover-color);
}

.btn--slider:focus,
.btn--slider-current,
.btn--slider-current:hover {
  background: var(--basic-white);
  cursor: default;
}

/* Input */

.field {
  font: inherit;
  width: 100%;
  padding: 14px;
  font-weight: 700;
  font-size: 16px;
  color: var(--basic-dark);
  background: var(--basic-white);
  border: 1px solid var(--input-border-color);
  outline: none;
}

.field::placeholder {
  font-weight: 400;
}

.field:hover {
  border: 2px solid var(--input-border-color);
  padding: 13px;
}

.field:focus {
  border: 2px solid var(--input-focus-border-color);
  padding: 13px;
}

/* Modal */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--section-bg-color);
}

/* Body themes */

.page {
  background: var(--theme-mantle-color);
}

.page--mantle {
  background: var(--theme-mantle-color) url(../img/promo-slider/highlight_s_1.png) center top no-repeat;
}

.page--regent {
  background: var(--theme-egent-gray-color) url(../img/promo-slider/highlight_s_2.png) center top no-repeat;
}

.page--pharlap {
  background: var(--theme-pharlap-color) url(../img/promo-slider/highlight_s_3.png) center top no-repeat;
}

/* Header */

.page-header {
  padding-top: 9px;
  margin-bottom: 10px;
}

.page-header__inner {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  align-items: center;
}

/* Logo */

.header-logo {
  margin-right: 11px;
}

.header-logo[href]:hover path {
  fill: var(--basic-link-hover);
}

.header-logo__img {
  display: flex;
}

/* Menu */

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 8px;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 7px;
}

.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 0 13px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 26px;
  cursor: pointer;
  transition: all .1s;
}

.menu__link:hover {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.menu__link:active {
  background-color: var(--menu-active-color);
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active-color);
}

.menu__link--active {
  background-color: var(--menu-current-color);
  color: var(--basic-white);
}

.menu__link--active .base-link,
.menu__link:hover .base-link {
  border-bottom: none;
}

/* Dropdown */

.dropdown {
  display: none;
  position: absolute;
  top: 40px;
  left: -5px;
  width: 143px;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  transition: all .1s;
  z-index: 1;
}

.dropdown__list {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-dark);
  list-style: none;
}

.dropdown__title {
  position: relative;
  padding: 13px 20px 13px 20px;
  font-weight: 700;
  font-size: 14px;
  cursor: default;
}

.dropdown__title::after {
  position: absolute;
  content: '';
  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  width: 128px;
  height: 1px;
  background-color: var(--basic-dark);
  opacity: 0.2;
}

.dropdown__link {
  display: block;
  padding: 8px 20px;
}

.dropdown__item:hover {
  background-color: var(--dropdown-hover-color);
}

.dropdown__item:active {
  background-color: var(--dropdown-active-color);
}

.dropdown__item--current {
  color: var(--basic-white);
  background-color: var(--dropdown-current-color);
}

.dropdown__item--current:hover,
.dropdown__item--current:active {
  color: var(--basic-dark);
}

/* test */

.menu__item:hover .dropdown {
  display: block;
}

/* User navigation */

.user-nav {
  position: relative;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.user-nav__btn {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  color: var(--basic-white);
  background-color: var(--btn-tiny-color);
  border-radius: 20px;
}

.user-nav__btn:not(:last-child) {
  margin-right: 10px;
}

.user-nav__btn--search {
  padding: 8px;
}

.user-nav__btn--login svg,
.user-nav__btn--cart svg {
  margin-right: 8px;
}

.user-nav__btn:hover,
.user-nav__btn:active,
.user-nav__btn:focus {
  background-color: var(--basic-white);
  color: var(--basic-dark);
}

.user-nav__btn:hover path,
.user-nav__btn:active path,
.user-nav__btn:focus path {
  fill: var(--basic-dark);
}

.user-nav__btn:disabled,
.user-nav__btn:disabled path {
  background-color: var(--btn-tiny-color);
  color: var(--basic-white);
  fill: var(--basic-white);
  cursor: default;
}

.user-nav__btn--active:disabled .cart-red {
  fill: none;
}

.user-nav__btn--active:not(:disabled),
.user-nav__btn--active:not(:disabled) path {
  background-color: var(--basic-white);
  color: var(--basic-dark);
  fill: var(--basic-dark);
}

.user-nav__btn--active:not(:disabled) .cart-red {
  fill: var(--cart-active-color);
}

/* Popup */

.popup-search {
  display: none;
  position: absolute;
  top: 40px;
  right: 211px;
  padding: 20px 15px;
  width: 341px;
  background-color: var(--section-bg-color);
  box-shadow: 0px 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  z-index: 1;
  transition: all .1s;
}

.popup-search__field {
  padding: 14px;
  height: 44px;
  font-size: 14px;
  border-radius: 4px;
}

.popup-login {
  display: none;
  position: absolute;
  top: 40px;
  right: 110px;
  padding: 20px 18px;
  width: 277px;
  background-color: var(--section-bg-color);
  box-shadow: 0px 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  z-index: 1;
  transition: all .1s;
}

.popup-login__form {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 20px;
}

.popup-login__field {
  grid-column: 1 / 3;
  margin-bottom: 20px;
  border-radius: 4px;
}

.popup-login__btn {
  grid-column: 1 / 2;
  padding: 0 26px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 26px;
}

.popup-login__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.popup-login__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

.popup-login__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-column: 2 / 3;
}

.popup-login__link {
  display: flex;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-dark);
}

.popup-login__link .base-link {
  border-color: var(--modal-divider-color);
}

.popup-login__link:hover,
.popup-login__link:hover .base-link,
.popup-login__link:active,
.popup-login__link:active .base-link {
  color: var(--modal-link-hover);
  border-color: var(--modal-border-hover-color);
}

.popup-cart {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  padding: 20px 15px;
  width: 539px;
  background-color: var(--section-bg-color);
  box-shadow: 0px 20px 20px var(--modal-shadow-color);
  border-radius: 4px;
  z-index: 1;
  transition: all .1s;
}

.popup-cart__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popup-cart__item {
  display: grid;
  grid-template-columns: min-content max-content 250px repeat(2, max-content);
  align-items: center;
  margin-bottom: 20px;
}

.popup-cart__cross {
  grid-column: 1 / 2;
  margin-right: 9px;
}

.popup-cart__cross svg {
  cursor: pointer;
}

.popup-cart__cross:hover path {
  fill: var(--modal-link-hover);
}

.popup-cart__preview {
  grid-column: 2 / 3;
  margin-right: 13px;
  width: 100%;
  max-width: 33px;
  border-radius: 100%;
}

.popup-cart__link {
  grid-column: 3 / 4;
  margin-right: 30px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-dark);
}

.popup-cart__link:hover,
.popup-cart__link:active {
  color: var(--modal-link-hover);
}

.popup-cart__weight {
  grid-column: 4 / 5;
  margin: 0;
  margin-right: 26px;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-dark);
}

.popup-cart__weight--price {
  color: var(--cart-price-color);
}

.popup-cart__price {
  grid-column: 5 / 6;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-dark);
}

.popup-cart__checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-top: 16px;
  border-top: 1px solid var(--cart-border-color);
}

.popup-cart__total {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 15px;
  color: var(--basic-dark);
}

.popup-cart__btn {
  padding: 0 15px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  color: var(--basic-white);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 26px;
}

.popup-cart__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.popup-cart__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

/* Information */

.page-header__info {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  margin-bottom: -115px;
  justify-self: end;
  z-index: 1;
}

.page-header__days {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
}

.page-header__phone {
  font-weight: 700;
  font-size: 22px;
}

.page-header__phone {
  border: none;
}

.page-header__phone:hover,
.page-header__phone:active {
  color: var(--basic-link-hover);
}

/* Promo */

.promo {
  position: relative;
}

.promo__sliders {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 564px;
}

.promo__slider {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-bottom: 41px;
}

.promo__slider--current {
  display: flex;
}

.promo__img {
  position: absolute;
  top: 0;
  max-width: 100%;
  z-index: -1;
}

.promo__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.promo__btn {
  padding: 0 30px;
  height: 62px;
  border-radius: 70px;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.05em;
  color:var(--basic-white);
  text-shadow: 0px 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
}

.promo__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.promo__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

.promo__controls {
  position: absolute;
  top: 480px;
  left: 0;
}

/* Special offers */

.special {
  margin-bottom: 34px;
}

.special__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.special__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 22px 22px 17px;
  border-radius: 16px;
}

.special__item--crimson {
  grid-column: 1 / 2;
  background: var(--section-bg-color) url(../img/bg/crimson.jpg) center center/cover no-repeat;
}

.special__item--chocolate {
  grid-column: 2 / 3;
  background: var(--section-bg-color) url(../img/bg/сhocolate.jpg) center center/cover no-repeat;
}

.special__title {
  grid-column: 1 / 3;
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.special__text {
  grid-column: 1 / 3;
  margin: 0;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 18px;
}

.special__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 3;
  justify-self: end;
  padding: 0 22px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  text-shadow: 0px 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 70px;
}

.special__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.special__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}


/* Products */

.products {
  margin-bottom: 11px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 -13px;
  padding: 0;
  list-style: none;
}

.products__item {
  position: relative;
  margin-bottom: 10px;
}

.products__wrapper {
  padding: 6px 13px 21px 13px;
}

.products__item:hover .products__wrapper {
  position: absolute;
  background: var(--btn-tiny-color);
  box-shadow: 0px 20px 20px var(--popular-shadow-hover-color);
  z-index: 2;
}

.products__img {
  width: 100%;
  max-width: 267px;
  border-radius: 100%;
}

.products__hit {
  left: 13px;
  position: absolute;
  padding: 17px 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
  z-index: 1;
}

.products__hit svg {
  display: block;
}

.products__price {
  text-align: left;
  margin: -67px 0 0;
  font-weight: 700;
  font-size: 45px;
  color:var(--basic-white);
  text-shadow: 0px 1px 3px var(--price-text-shadow-color);
}

.unit {
  font-size: 30px;
}

.currency {
  font-size: 44px;
  margin-left: 5px;
}

.products__link {
  display: block;
  margin-top: 23px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-white);
}

.products__link span {
  margin-top: 23px;
}

.products__link:hover,
.products__link:active {
  color: var(--basic-link-hover);
}

.products__btn {
  display: none;
  padding: 12px 16px;
  margin: 11px auto 0 auto;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  text-shadow: 0px 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 50px;
}

.products__item:hover .products__btn {
  display: block;
}


.products__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.products__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

/* features */

.features {
  margin-bottom: 40px;
}

.features__wrapper {
  padding: 24px 20px 30px 21px;
  background: var(--pattern-bg-color) url('../img/bg/wafer-pattern.jpg') center center/cover repeat;
  border-radius: 16px;
}

.features__lead {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
}

.features__list {
  display: grid;
  grid-template: repeat(2, min-content) / repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 13px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.features__item {
  display: flex;
}

.features__img {
  margin-right: 6px;
  flex-shrink: 0;
}

.features__descr {
  margin: 0;
  margin-top: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

/* Blog */

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  margin-bottom: 40px;
}

.blog-notice {
  padding: 20px 20px;
  background: var(--basic-white) url('../img/bg/strawberry.jpg') center center/cover no-repeat;
  border-radius: 16px;
}

.blog-notice__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-dark);
}

.blog-notice p {
  margin: 0;
}

.blog-notice__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-dark);
  text-decoration: underline;
}

.blog-notice__link:hover {
  color: var(--modal-link-hover);
}

/* Subcribe form */

.subscribe {
  padding: 5px 6px;
  background: var(--section-bg-color) url('../img/bg/subscribe.jpg') center center/cover no-repeat;
  border-radius: 16px;
}

.subscribe__inner {
  padding: 24px 20px 36px 21px;
  background: var(--section-bg-color);
  border-radius: 16px;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--subscribe-text-color);
}

.subscribe__field {
  height: 44px;
}

.subscribe__btn {
  padding: 0 19px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  text-shadow: 0px 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 70px;
}

.subscribe__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.subscribe__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe__field {
  width: 100%;
  margin-right: 10px;
}

/* Contacts */

.contacts {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}

.contacts__map {
  grid-column: 1 / 3;
  justify-self: center;
}

.contacts__sidebar {
  position: absolute;
  padding: 32px 25px;
  top: 45px;
  right: 27px;
  background: var(--sidebar-bg-color);
  border-radius: 16px;
}

.contacts__address {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts__address span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__phone {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark);
}

.contacts__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-dark);
}

.contacts__link:hover {
  color: var(--modal-link-hover);
}

.contacts__btn {
  display: block;
  padding: 0 28px;
  height: 43px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  text-shadow: 0px 2px 5px var(--btn-text-shadow-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 70px;
}

.contacts__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.contacts__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

/* Modal feedback */

.modal-feedback {
  display: none;
  max-width: 477px;
}

.modal-feedback__wrapper {
  position: relative;
  padding: 20px 27px 25px;
}

.modal-feedback__title {
  margin: 0;
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 24px;
  color: var(--basic-dark);
}

.modal-feedback__form {
  display: flex;
  flex-direction: column;
}

.modal-feedback__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal-feedback__close:hover path,
.modal-feedback__close:active path {
  fill: var(--modal-link-hover);
}

.modal-feedback__field {
  width: 267px;
  margin-bottom: 20px;
  border-radius: 4px
}

.modal-feedback__field--message {
  resize: none;
  width: 428px;
}

.modal-feedback__btn {
  align-self: flex-end;
  margin: 0;
  padding: 0 24px;
  height: 44px;
  font-size: 18px;
  font-weight: 700;
  color:var(--basic-white);
  box-shadow: 0px 2px 2px var(--btn-shadow-color);
  background: var(--btn-color);
  border-radius: 26px;
}

.modal-feedback__btn:hover {
  background: var(--btn-hover-color);
  box-shadow: 0px 2px 2px var(--btn-shadow-hover-color);
}

.modal-feedback__btn:active {
  background: var(--btn-active-color);
  box-shadow: inset 0px 2px 2px var(--btn-shadow-active-color);
}

/* Footer */

.page-footer__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 25px;
}

.page-footer__container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1146px;
  height: 1px;
  background: var(--btn-tiny-color);
}

/* Social */

.social {
  display: flex;
  padding-top: 16px;
}

.social__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 8px;
}

.social__link {
  display: flex;
  border: 2px solid var(--social-border-color);
  border-radius: 50%;
}

.social__link:hover path {
  fill-opacity: 1;
}

.social__link:active {
  border-color: var(--social-border-active-color);
}

/* Helpful links */

.helpful {
  padding-top: 14px;
  padding-left: 26px;
}

.helpful__list {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 32px;
  row-gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.helpful__item {
  position: relative;
}

.helpful__item--heart::before {
  content: '';
  position: absolute;
  left: -22px;
  top: 4px;
  width: 15px;
  height: 13px;
  background: url(../img/icons/heart.svg);
}

.helpful__link {
  font-weight: 400;
  font-size: 13px;
  color: var(--basic-white);
}

.helpful__link:hover,
.helpful__link:active {
  color: var(--basic-link-hover);
}

/* Copyright */

.copyright__logo {
  display: flex;
  margin-bottom: 9px;
  border: none;
}

.copyright__logo:hover path {
  fill: var(--basic-link-hover);
}

.copyright__text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  color: var(--basic-white);
}

.copyright__link:hover,
.copyright__link:active {
  color: var(--basic-link-hover);
}

/* Catalog page */

.page-catalog {
  border-bottom: 1px solid #000;
}

.main-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 35px;
}

/* Breadcrumbs */

.breadcrumbs__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '';
  display: inline-block;
  margin: 0 8px;
  width: 6px;
  height: 6px;
  background: url(../img/icons/breadcrumbs-arrow.svg);
}

.breadcrumbs__link:hover {
  color: var(--basic-link-hover);
  cursor: pointer;
}

.breadcrumbs__item:last-child .breadcrumbs__link,
.breadcrumbs__item:last-child:hover .breadcrumbs__link {
  color: currentColor;
  border: none;
  cursor: default;
}

/* Catalog filter */

.filter {
  margin-bottom: 40px;
}

.filter__form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.filter__group {
  padding: 0;
  margin: 0 15px 15px 0;
  border: none;
}

.filter__label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 7px;
  padding-left: 17px;
}

.custom-select {
  height: 36px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 20px;
  color: var(--basic-white);
  background-color: var(--btn-tiny-color);
  border: none;
  cursor: pointer;
}

.filter__price {
  display: flex;
  height: 36px;
  padding: 0 21px;
  background-color: var(--btn-tiny-color);
  border-radius: 20px;
}

.filter-list {
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 17px;
  margin: 0;
  list-style: none;
  background-color: var(--btn-tiny-color);
  border-radius: 20px;
}

.filter-list__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-right: 20px;
}

.filter-list__item:last-child {
  margin-right: 0;
}

.filter-list__item label {
  position: relative;
  margin-left: 30px;
  cursor: pointer;
}

.custom-radio {
  margin-right: 11px;
}

.custom-radio + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -30px;
  width: 22px;
  height: 22px;
  background: url(../img/icons/radio-off.svg) 0 0 no-repeat;
}

.custom-radio:checked + label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -23px;
  width: 22px;
  height: 22px;
  background: url(../img/icons/radio-dot.svg) 0 0 no-repeat;
}

.custom-checkbox + label::before {
  content: '';
  position: absolute;
  top: -1px;
  left: -30px;
  width: 24px;
  height: 20px;
  background: url(../img/icons/checkbox-off.svg) 0 0 no-repeat;
  opacity: 0.8;
}

.custom-checkbox:checked + label::before {
  display: none;
}

.custom-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -30px;
  width: 24px;
  height: 20px;
  background: url(../img/icons/checkbox-on.svg) 0 0 no-repeat;
  opacity: 0.8;
}

.custom-checkbox:hover + label::before,
.custom-checkbox:checked:hover + label::after {
  opacity: 1;
}

.custom-checkbox:disabled + label::before,
.custom-checkbox:checked:disabled + label::after,
.custom-checkbox:disabled + label,
.custom-checkbox:checked:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filter__btn {
  height: 36px;
  padding: 0 20px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-white);
  background: var(--btn-tiny-color);
  border: 2px solid var(--basic-white);
  border-radius: 20px;
}

.filter__btn:hover {
  color: var(--basic-dark);
  background: var(--basic-white);
}

.filter__btn:active {
  box-shadow: inset 0px 2px 1px var(--menu-shadow-active-color);
}

/* Products catalog  */



/* Catalog pagination */

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 30px;
}

.pagination__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination__item {
  padding: 6px 10px;
  margin-right: 4px;
  border-radius: 100%;
  cursor: pointer;
}

.pagination__link {
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.pagination__item:hover {
  background: var(--btn-tiny-color);
}

.pagination__item:active,
.pagination__item--current,
.pagination__item--current:hover {
  color: var(--basic-dark);
  background: var(--basic-white);
}

.pagination__btn {
  background: none;
  border: none;
  cursor: pointer;
}

.pagination__btn:disabled {
  opacity: 0.2;
  cursor: default;
}

.pagination__btn--prev {
  margin-right: 5px;
}

















